
<!DOCTYPE html>
<html>
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="referrer" content="origin-when-cross-origin">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

        <title>{title}</title>
        
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve290773.css">
<style>
     
    </style>
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2826cc.css">
<![endif]-->

    </head>
    <body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">
    
    <div id="js_cmt_mine" class="discuss_container editing access" style="display:none;">
        <div class="discuss_container_inner">
            <h2 class="rich_media_title">{title}</h2>
            <span id="log"></span>
            <div class="frm_textarea_box_wrp">
                <span class="frm_textarea_box">
                    <div class="emotion_tool">
                        <span class="emotion_switch" style="display:none;"></span>
                        <span id="js_emotion_switch" class="pic_emotion_switch_wrp">
                            <img class="pic_default" src="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/appmsg/emotion/icon_emotion_switch.2x278965.png" alt="">
                            <img class="pic_active" src="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/appmsg/emotion/icon_emotion_switch_active.2x278965.png" alt="">
                        </span>
                        <div class="emotion_panel" id="js_emotion_panel">
                            <span class="emotion_panel_arrow_wrp" id="js_emotion_panel_arrow_wrp">
                                <i class="emotion_panel_arrow arrow_out"></i>
                                <i class="emotion_panel_arrow arrow_in"></i>
                            </span>
                            <div class="emotion_list_wrp" id="js_slide_wrapper">
                                
                                
                            </div>
                            <ul class="emotion_navs" id="js_navbar">
                                
                            </ul>
                        </div>
                    </div>
                </span>
            </div>       
        </div>
    </div>

    <div id="js_article" class="rich_media">
        
        <div id="js_top_ad_area" class="top_banner">
 
        </div>
                

        <div class="rich_media_inner">
            <div id="page-content">
                <div id="img-content" class="rich_media_area_primary">
                    <h2 class="rich_media_title" id="activity-name">
                        {title} 
                    </h2>
                    <div class="rich_media_meta_list">
                        						                        <em id="post-date" class="rich_media_meta rich_media_meta_text">{date}</em>

                                                <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">{author}</a>
                        <span class="rich_media_meta rich_media_meta_text rich_media_meta_nickname">{author}</span>

                        <div id="js_profile_qrcode" class="profile_container" style="display:none;">
                            <div class="profile_inner">
                                <strong class="profile_nickname">陈安之</strong>
                                <img class="profile_avatar" id="js_profile_qrcode_img" src="" alt="">

                                <p class="profile_meta">
                                <label class="profile_meta_label">微信号</label>
                                <span class="profile_meta_value">caz988</span>
                                </p>

                                <p class="profile_meta">
                                <label class="profile_meta_label">功能介绍</label>
                                <span class="profile_meta_value">陈安之华人成功学权威，亚洲顶尖级演说家、知名畅销书作家。</span>
                                </p>
                                
                            </div>
                            <span class="profile_arrow_wrp" id="js_profile_arrow_wrp">
                                <i class="profile_arrow arrow_out"></i>
                                <i class="profile_arrow arrow_in"></i>
                            </span>
                        </div>
                    </div>
                                        
                                                            
                                        <div class="rich_media_thumb_wrp" id="media">
                        
                                                <script>
                            (function(){
                                var cover = "{cover}";
                                document.write('<img class="rich_media_thumb" id="js_cover" onerror="this.parentNode.removeChild(this)" data-src="' + cover + '" />');
                            })();
                        </script>
                                            </div>
                                        
                    
                    <div class="rich_media_content " id="js_content">
                        {content}
                    </div>
                    <script type="text/javascript">
                        if ("" == 1 && document.getElementById('js_content'))
                            document.getElementById('js_content').addEventListener("selectstart",function(e){ e.preventDefault(); });
                    </script>

                    <script type="text/javascript">
                        var first_sceen__time = (+new Date());
                    </script>
                    <link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_combo290773.css">
                                        
                                        
                                        <div class="rich_media_tool" id="js_toobar2">
                                                                    <div id="js_read_area2" class="media_tool_meta tips_global meta_primary" style="display:none;">阅读 <span id="readNum2"></span></div>

                        <span style="display:none;" class="media_tool_meta meta_primary tips_global meta_praise" id="like2">
                            <i class="icon_praise_gray"></i><span class="praise_num" id="likeNum2"></span>
                        </span>

                        <a id="js_report_article2" style="display:none;" class="media_tool_meta tips_global meta_extra" href="javascript:void(0);">举报</a>

                    </div>
                </div>

                <div class="rich_media_area_extra">

                    
                                        <div class="mpda_bottom_container" id="js_bottom_ad_area">
                        
                    </div>

                    
                    <div id="js_iframetest" style="display:none;"></div>

                    
                                    </div>
               
            </div>
            <div id="js_pc_qr_code" class="qr_code_pc_outer" style="display:none;">
                <div class="qr_code_pc_inner">
                    <div class="qr_code_pc">
                        <img id="js_pc_qr_code_img" class="qr_code_pc_img" >
                        <p>微信扫一扫<br>在手机上阅读</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


  <script type="text/javascript">
      var not_in_mm_css = "http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/not_in_mm2637ae.css";
      var windowwx_css = "http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2826cc.css";
      var tid = "";
      var aid = "";
      var clientversion = "0";
      var appuin = "MjM5NzQ3Mjc4Mg==";

      var source = "6";
      var scene = 75;
      
      var itemidx = "";
      var nickname = "{author}";
      var ct = "1445702032";
      var user_name = "gh_a7eb8113415c";
      var user_name_new = "";
      var fakeid   = "OTQyMjgzMTA5";
      var version   = "";
      var is_limit_user   = "0";
      var msg_title = "{title}";
      var msg_desc = "{desc}";
      var msg_cdn_url = "{cover}";
      var msg_link = "http://mp.weixin.qq.com/s?__biz=MjM5NzQ3Mjc4Mg==&amp;mid=400218703&amp;idx=1&amp;sn=0d0b7fb7bfc21afec488195fa2c36430#rd";
      var user_uin = "0"*1;
      var msg_source_url = '';
      var img_format = 'jpeg';
      var srcid = '';
      var networkType;
      var appmsgid = '' || '400218703';
      var comment_id = "0" * 1;
      var comment_enabled = "" * 1;
      var is_need_reward = "0" * 1;
      var is_https_res = ("" * 1) && (location.protocol == "https:");

      var devicetype = "";
      var source_username = "";
      var reprint_ticket = "";
      var source_mid = "";
      var source_idx = "";

      var show_comment = "";
      var __appmsgCgiData = {
            can_use_page : "0"*1,
            is_wxg_stuff_uin : "0"*1,
            card_pos : "",
            copyright_stat : "0",
            hd_head_img : "http://wx.qlogo.cn/mmhead/Q3auHgzwzM5tQicptVWzh1zhweQuIWu0BFbVLyXqN3M8vBsUiaJjLfgw/0"||(window.location.protocol+"//"+window.location.host + "http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/pic/appmsg/pic_rumor_link.2x264e76.jpg")
      };
      var _empty_v = "http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/pic/pages/voice/empty26f1f1.mp3";

      var copyright_stat = "0" * 1;

      var pay_fee = "" * 1; // 付费阅读费用
      var pay_timestamp = "";
      var need_pay = "" * 1;
      
      document.getElementById('js_pc_qr_code_img').src = "http://qr.liantu.com/api.php?text=" + location.href;
  </script>

  <script type="text/javascript">
        (function() {
        var JSAPI = {
            ready: function(onBridgeReady) {
                if (typeof top.window.WeixinJSBridge == 'undefined' || !top.window.WeixinJSBridge.invoke) {
                    if (top.window.document.addEventListener) {
                        top.window.document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                    } else if (top.window.document.attachEvent) {
                        top.window.document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
                        top.window.document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                    }
                } else {
                    onBridgeReady();
                }
            },
            on: function(eventName, callback) {
                top.window.WeixinJSBridge.on(eventName, callback);
            }
        };
        var onA8KeyReady = function(A8KeyUrl) {
            if (A8KeyUrl) {
                var params = getQueryFromURL(A8KeyUrl);
                window.uin = params['uin'] || window.uin;
                window.key = params['key'] || window.key;
                window.pass_ticket = params['pass_ticket'] || window.pass_ticket;
            }
            seajs.use('appmsg/index.js');
        };
        var bridgeReadyTimer;
        var onBridgeReady = function() {
            window.logs.pagetime['jsapi_ready_time'] = (+new Date());
            if (bridgeReadyTimer) {
                clearTimeout(bridgeReadyTimer);
            }
            if (!window.isWeixinCached) {
                                window.logs['is_page_cached'] = 0;
                onA8KeyReady();
            } else if (window.getA8KeyUrl) {
                                window.logs.pagetime['a8key_ready_time'] = (+new Date());
                onA8KeyReady(window.getA8KeyUrl);
            } else {
                                JSAPI.on('onGetA8KeyUrl', function(res) {
                    window.logs.pagetime['a8key_ready_time'] = (+new Date());
                    onA8KeyReady(res.url);
                });
            }
        };

                if (typeof window.pass_ticket !== 'undefined' && !!window.pass_ticket) {
                        onA8KeyReady();
        } else if (window.isInWeixinApp() == false) {
                        onA8KeyReady();
        } else {
                        window.logs['is_page_cached'] = 1;
            JSAPI.ready(onBridgeReady);
                        bridgeReadyTimer = setTimeout(function() {
                window.logs['jsapi_ready_fail'] = 1000;
                onA8KeyReady();
            }, 2000);
        }
    })();
  </script>

    </body>
</html>

 
