<!doctype html>
<html>
	<head>
		<title>众说 －－ 让世界聆听你，让你影响世界</title>
		<link rel="stylesheet" type="text/css" href="../styles/board.css">
		<script type="text/javascript" src="../js/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.query.js"></script>
		<script type="text/javascript" src="../js/board.js"></script>
	</head>	
	<body>
		<div class="sidebar fl" id="sideBar">
			<div style="margin:0px auto; text-align:center; padding:2em 0.5em;">
				<img src="../images/sms/logo100.png" width="100" height="100">
				<h2>首届全国初中“语文主题学习”课堂教学竞赛决赛（展示活动）</h2>
				<h3>在线互动平台</h3>
				<h3>参与互动方式：</h3>
				<h4>1.扫描以下二维码</h4>
				<img src="http://qrapi.cli.im/qr?data=http%253A%252F%252F192.168.1.55%253A1337%252Fmessage%252Findex&level=H&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=69ee09c25eaf323cd21ada4f5da5846c" width="80" height="80">
				<h4>2.发送短信至106575325525084</h4>
				<h5>本互动平台由众说&copy;提供</h5>
			</div>
		</div>
		<div class="main fl" id="smsContent">
		</div>
	</body>
</html>